doctype html
html
  head
    title mmachaj
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  
   
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/sprite.css')
    link(rel='stylesheet', href='/stylesheets/style-web.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')

  
  
   



  body
    nav 
    block content
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(type='text/javascript', src='javascript/all.js')
    script(type='text/javascript', src='javascript/preloading.js')
    script(type='text/javascript', src='javascript/main.js')
